.header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo{
  color: MediumAquamarine;
  display: flex;
}

nav{
  display: inline-block;
}

.content{
  border: 1px solid black;
  display: flex;
}

div{
  border: 1px solid red;
}

.column.large{
  display: flex;
  width: 630px;
}

.next{
  display: flex;
  flex-grow: 1 1;
}

.burger, .orca, .earth,.camera{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}

.column.medium{
  display: flex;
  width: 300px;
}

.column.small{
  display: flex;
  width: 240px;
  flex-direction: column;
  border: 1px 0px;
}

.funny{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png" );
  background-size: 100%;
}

.earth{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  background-size: contain;
}

.camera{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  background-size: auto;
}

.cat{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  background-size: auto;
}

.image{
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.cookie{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-news-bite.png);
  display: flex;
  background-size: auto;
}
