body{

}

h1{

}

p{

}

.header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo{
  color: MediumAquamarine;

}

.menu{
  display: inline-block;
}

.content, p{
  border: 1px solid black;
  display: flex;
}

.column{
  border: 1px solid black;
}

.column.large{
  display: flex;
  width: 630px;
}

.column.medium{
  display: flex;
  width: 300px;
}

.column.small{
  display: flex;
  width: 240px;
}

.funny{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png" );
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;

}

.earth{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;

}

.camera{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.cat{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;

}

.cookie{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-news-bite.png);
  display: flex;
}
